// colors
$color-background: #FEF2EE;
$color-primary: #44090D;
$color-dark-orange: #EA5321;
$color-light-orange: #F28C10;
$color-green: #BCA508;
$color-yellow: #F4C200;
$color-pink: #F4A7AD;

// text desktop
$text-desktop-display: 6.4rem;
$text-desktop-title: 4rem;
$text-desktop-paragraph: 2.4rem;

// text mobile
$text-mobile-display: 3.6rem;
$text-mobile-title: 3.2rem;
$text-mobile-paragraph: 1.8rem;
$text-mobile-button: 2.4rem;

// sizes desktop
$gap-desktop-section: 28.8rem;
$gap-desktop-paragraph: 3.6rem;

// sizes mobile
$gap-mobile-section: 17rem;
$gap-mobile-paragraph: 2.4rem;

// line height
$line-height-desktop: 1.5;
$line-height-mobile: 1.25;

// font
$font-raleway: var(--raleway-font);

// margins
$margin-mobile: 1.6rem;
$margin-desktop: 2.4rem;